---
title: Iris Kramer online portfolio
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0, 0, 0, 0.6) 50%), url('images/dGPS_at_Agrigento.jpg');">
  <div class="banner-content">
    <h1>IRIS KRAMER</h1>
    <p>
      <span class="rotate">Archaeologist, Geoscientist, Ruby-ist, Traveller</span>
    </p>
    <div class="arrow-down">
      <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
    </div>
  </div>
</div>


<section id="about" class="section section-solid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">About</h3>
        <div class="section-title-border">
        </div>
      </div>
    </div>

    <div class="row mt20">
      <div class="col-sm-4 wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s">
        <img src="images/iris_kramer.jpg" class="img-responsive about-img" />
      </div>
      <div class="col-sm-8 wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s">
        <p class="lead">
          I’m an archaeologist specialized in GIS and Remote Sensing and curently passionate about learning how to code and build web applications with Ruby on Rails.
        </p>
        <p>
          Have a look at my Github account:
          <div class="text-center">
            <a href="https://github.com/ickramer"><i class="fa fa-github" style="font-size: 80px;"></i></a>
            <br>
            <small><a href="https://github.com/ickramer">github.com/ickramer</a></small>
          </div>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Inbetween -->

<section class="section" id="interlude">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
        <i class="fa fa-twitter twitter-feed-icon"></i>
        <span id="twitterFeed"></span>
      </div>
    </div>
  </div>
</section>

<!-- Resume -->

<section id="resume" class="section section-solid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Resume</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="v-timeline mt50">
          <li>
            <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-graduation-cap"></i> Education</h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s" datetime="2015-03-13 19:00"><span>2015</span></time>
            <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-minus"></i></div>
            <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
             <h4><a href="#" data-toggle="collapse" data-target="#toggle-6">Le Wagon - Fullstack Dev
              Bootcamp</a></h4>
              <p id="toggle-6" class="collapse in"><a href="http://www.lewagon.org/en">Le Wagon</a> is a coding school for entrepreneurs, Brussels, Belgium.</p>
            </div>
          </li>
        </ul>
        <ul class="v-timeline mt50">
          <li>
            <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-briefcase"></i> Work experience</h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s" datetime="2015-03-13 19:00"><span>2016 - present</span></time>
            <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-minus"></i></div>
            <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
              <h4><a href="#" data-toggle="collapse" data-target="#toggle-1">Full-Stack Coding Bootcamp (Web Application Development), Le Wagon, NL </a></h4>
              <p id="toggle-1" class="collapse in">An intensive 12 weeks full-time training in web application development for front-end and back-end coding using mainly Ruby and Ruby on Rails.</p>
            </div>
          </li>
        </ul>
        <ul class="v-timeline mt50">
          <li>
            <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><img src="images/trowel-white.png" alt="" class="trowel-icon"> Archaeological experience</h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s" datetime="2015-03-13 19:00"><span>2015</span></time>
            <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-minus"></i></div>
            <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
              <h4><a href="#" data-toggle="collapse" data-target="#toggle-6">Ager Venusius Project</a></h4>
              <p id="toggle-6" class="collapse in"> In this <a href="http://landscapesofearlyromancolonization.com/">LERC project</a> I participated in the field walking survey, geophysical survey, finds processing.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
